# Created by .ignore support plugin (hsz.mobi)
.idea
/target
manager-controller/target/
manager-dao/target/
manager-domian/target/
manager-service/target/
### Example user template template
### Example user template
# IntelliJ project files
*.iml
out
gen
### Example user template template
### Example user template

# IntelliJ project files
